{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1 class="mb-3">3. Check code</h1>

    <div class="tile tile-bg-gray tile-padding-extra-top mb-2">
        <p>To get message content, enter current code (labeled as `{{ protectedMessage.name }}.{{ protectedMessage.id }}` in scanner) below:</p>
    </div>

    {% if isFormSubmitted %}
        {% if isCodeMatches %}
            <div class="tile tile-bg-gray">
                <p>Success. Message content:</p>
                <p><b>{{ protectedMessageContent }}</b></p>
            </div>
        {% else %}
            <div class="tile tile-bg-gray">
                <p><b>Uh oh...</b></p>
                <p>Invalid or expired code</p>
            </div>
        {% endif %}
    {% endif %}

    {{ form(form) }}

    <div class="tile text-align-center">
        <div class="mb-1"></div>
        <a href="{{ path('home.index') }}">Create another message</a>
    </div>
{% endblock %}
