{% extends 'layout/base.html.twig' %}

{% block title '2. Scan' %}

{% block body %}
    <h1 class="mb-3">2. Scan</h1>

    <div class="tile tile-bg-gray tile-padding-extra-top mb-2">
        <p>Content of your message now only accessible by using a one-time password, which constantly refreshes</p>
        <p>On your phone, go to the URL below:</p>
        <p>
            <a href="{{ url('scanner.index') }}" target="_blank">{{ url('scanner.index') }}</a>
        </p>
        <p>And scan this QR code:</p>
    </div>

    <div class="tile mb-1">
        <div class="code mb-1">Code ID: {{ qrPayload.name }}</div>
        {{ qrImage|raw }}
    </div>

    <div class="tile">
        <a href="{{ path('check.index', { name: qrPayload.name }) }}" class="button">
            I'm done. Go to the code check
        </a>
    </div>
{% endblock %}
